PyQt6>=6.5
open3d>=0.18
opencv-python>=4.8
imageio>=2.31
tqdm>=4.66
pyqtgraph
PyOpenGL
PyOpenGL_accelerate
ultralytics
sockets

# ---- PyTorch (CUDA 12.8 wheels) ----
--index-url https://download.pytorch.org/whl/cu128
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0